<div class="row">
  <div class="col-md-10 container-fluid">
    <br>

      <h1 class="font-text-footer">Create Customer</h1>
      <!--      <div th:if="${mess !=null}">-->
      <!--        <h2 class="text-danger" th:text="${mess}"></h2>-->
      <!--      </div>-->
      <br>
      <div class="container-fluid p-0">
        <form action="@{/customer/create}" method="post">


          <div class="input-group mb-3">
            <span class="input-group-text">ID</span>
            <input type="text" class="form-control me-2" placeholder="Id">
          </div>


          <div class="input-group mb-3">
            <!--            <input hidden type="text" class="form-control me-2" placeholder="Id" th:field="*{customerId}">-->
            <span class="input-group-text">Name</span>
            <input type="text" class="form-control me-2" placeholder="Name">
          </div>


          <div class="input-group mb-3">
            <span class="input-group-text">Birthday</span>
            <input type="date" class="form-control me-2" placeholder="Birthday">

            <span class="input-group-text">Type</span>
            <select class="me-2">
              <option>Choose</option>
              <option>Menber</option>
              <option>gold</option>
              <option>silver</option>
              <option>platinum</option>
            </select>
            <select class="me-2" formControlName="division">
              <option selected disabled value="">Choose</option>
              <option *ngFor="let division of divisions" [ngValue]="division">{{division.name}}</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Id Card</span>
            <input type="text" class="form-control me-2" placeholder="Id Card">
            <span class="input-group-text">Phone</span>
            <input type="text" class="form-control me-2" placeholder="Phone">
          </div>


          <div class="input-group mb-3">
            <span class="input-group-text">Email</span>
            <input type="text" class="form-control me-2" placeholder="Email">

            <span class="input-group-text">Address</span>
            <input type="text" class="form-control me-2" placeholder="address">
          </div>

          <div class="input-group mb-5 d-flex align-content-center justify-content-center">
            <button type="submit" class="btn btn-primary">Create customer</button>
            <button type="button" class="btn btn-secondary ms-3">
              <a href="@{/customer/list}" style="text-decoration: none" class="text-light">
                Back to list customer</a>
            </button>
          </div>
        </form>
      </div>
  </div>

</div>
