<div class="mt-2 sticky-top" style="background-color: #046056; ">
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <!--      <a class="navbar-brand text-light ps-5 click" href="/">Home</a>-->
      <a class="navbar-brand text-light ps-5 click" href="/">Home</a>
      <a class="navbar-brand text-light click" routerLink="/employee/list"> Employee</a>
      <a class="navbar-brand text-light click" routerLink="/customer/list">Customer</a>
      <a class="navbar-brand text-light click" routerLink="/facility/list">Service</a>
      <a class="navbar-brand text-light click" routerLink="/contract/list">Contract</a>
      <form class="d-flex m-0">
        <input type="search" class="form-control me-2" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
